#signout-warn {
    color: white;
    background-color: rgb(19, 19, 19);
    border: none;
    border-radius: 5px;
    text-align: right;
}

button {
    color: white;
    background-image: linear-gradient(45deg,rgb(0, 0, 0),rgb(12, 12, 12));
    background-size: 200%;
    transform: scale(1.0);
    border-radius: 5px;
    border: 0px;
    animation: signup-button-anim-rev 0.1s ease-in-out;
    padding: 10px;
    margin: 5px;
}

.redwarn {
    color: white;
    background-image: linear-gradient(45deg,rgb(194, 0, 0),rgb(78, 0, 0));
    background-size: 200%;
    transform: scale(1.0);
    border-radius: 5px;
    border: 0px;
    animation: signup-button-anim-rev 0.1s ease-in-out;
    padding: 10px;
    margin: 5px;
}

#signout-warn::backdrop {
    background-color: rgba(0, 0, 0, 0.616);
    backdrop-filter: blur(2px);
}