

        @keyframes signup-button-anim {
            from {background-position: 0%; transform: scale(1.0);}
            to {background-position: 50%; transform: scale(1.1);}
        }
        @keyframes signup-button-anim-rev {
            from {background-position: 50%; transform: scale(1.1);}
            to {background-position: 0%; transform: scale(1.0);}
        }
        @keyframes signup-button-anim-clk {
            from {transform: scale(1.1);}
            to {transform: scale(1.0);}
        }
        @keyframes signup-button-anim-clk-rev {
            from {transform: scale(1.0);}
            to {transform: scale(1.1);}
        }

        /**********************************************/

        .title {
            font-family: "Alumni Sans Pinstripe", sans-serif;
            text-align: center;
            background-image: linear-gradient(rgb(80, 0, 126),rgb(0, 12, 124));
            padding: 0%;
            padding-top: 5%;
            height: 100vh;
        }
        .title > h1 {
            font-size: 100px;
            line-height: 0%;
        }
        .navbar {
            display: inline-block;
            background-color: rgb(20, 20, 20);
            box-shadow: 0px -20px 100px 20px black;
            position: fixed;
            width: 100%;
            z-index: 9999;
        }
        .overlay {
            background-color: rgb(20, 20, 20);
            position: relative;
            z-index: 1;
            box-shadow: 0px -20px 100px 20px black;
            margin: 0px;
            padding: 0px;
            width: 100%;
        }
        .section {
            display: grid;
            grid-template-areas:
                'title image'
                '. image'
            ;
            background-color: rgb(10, 10, 10);
            border-radius: 5px;
            margin: 20px;
            padding: 20px;
        }
        .section h3 {
            grid-area: title;
            font-family: "Atkinson Hyperlegible Mono", sans-serif;
            font-weight: lighter;
        }
        .section img {
            grid-area: image;
            position: relative;
            right: 0%;
        }
        .accHandler {
            background-color: rgb(20, 20, 20);
            text-align: center;
            margin: 0px;
            padding: 10%;
        }
        button {
            color: white;
            background-image: linear-gradient(45deg,rgb(80, 0, 126),rgb(0, 12, 124));
            background-size: 200%;
            transform: scale(1.0);
            border-radius: 5px;
            border: 0px;
            animation: signup-button-anim-rev 0.1s ease-in-out;
            padding: 10px;
            margin: 5px;
        }
        #signup-button {
            font-size: large;
            padding: 15px;
            margin: 0%;
            width: 50%;
        }
        button:hover {
            background-position: 50%;
            transform: scale(1.1);
            animation: signup-button-anim 0.1s ease-in-out;

        }
        button:active {
            color: rgb(78, 78, 78);
            background-image: linear-gradient(45deg,rgb(43, 0, 68),rgb(0, 7, 71));
            transform: scale(1.0);
            animation: signup-button-anim-clk 0.05s ease-in-out;
        }
        